#foot {
	background-color:#6495ED\9;
}
.index-container{
	margin-left: 25%;
}
/*？？？*/
.header-logo img{
	margin-left: 50%;
}
.className{
	margin-left: 50%;
}.copy{
	width: 940px;
}
.copy span{
	margin-left:53% ;
	font-size: 16px;
}
.area1-menu-click{
	background-color:#6495ED\9;
}
.sfhover{
	margin-left: 25%;
}
